{% extends "base.html" %}

{% load static %}

{% block content %}
  
<div class="container_body">
</div>
<header>
  <h1 class="headingblock">ForecastFlutter</h1>
  <p class="purpose">ForecastFlutter provides soccer/football statistics, soccer betting picks, football betting facts,
       and forecasts to assist you in making the best betting decisions. SoccerVista.com provides all of its soccer 
       information for free. Click the soccer match for more information, including stats, football predictions, and betting picks.</p>
           <ul class="navigators">
              <li><a href="/" class="links">Main Page</a></li>
              <li><a href="/" class="links">Community</a></li>
              <li><a href="/" class="links">Bet of the day</a></li>
              <li><a href="/" class="links">Sure odds</a></li>
              <li><a href="/" class="links">Bookmarkers</a></li>
           </ul>
</header>

<!-- header part ends -->
<!-- date section  -->
<section>
  <div class="date_nav">
      <p class="date_box">pick your preferred prediction date <span class="date_bar">date</span></p>
  </div>
</section>
<div class="prediction_cast">
  <p class="oddgames">1</p>
  <p class="oddgames">x</p>
  <p class="oddgames">2</p>
  <p class="oddgames">1x2</p>
  <p class="oddgames">Goals</p>
  <p class="oddgames">Result</p>
</div>

{% if league %}
{% for leagues in league %}
<div class="content">
  <a href="" class="club_name"><img src="{{leagues.l_country.img.url}}" alt="" class="img_flag"> {{leagues.l_country.country}} {{leagues.league}}</a> 
  {% for games in games %}
      <div class="team_last">
        <div class="team_opposite">
          <div class="opposite_team1">
            <div class="standingteam1">
              <p class="team_time">{{games.time}}</p>
            </div>
            <div class="firstgameteampart">
              <p class="last_games"><span class="gameslast">{{games.last_games}}</span></p>
              <p class="last_games"><span class="gameslast">W</span></p>
              <p class="last_games"><span class="gameslast">W</span></p>
              <p class="last_games"><span class="gameslast">W</span></p>
              <p class="last_games"><span class="gameslast">W</span></p>
              <p class="team_select">{{games.home_team}}</p>
            </div>
          </div>
          <div class="opposite_team2">
            <div class="standing">
              <p class="team_select">{{games.away_team}}</p>
            </div>
            <div class="secondgameteampart">
              <p class="last_games"><span class="gameslast">W</span></p>
              <p class="last_games"><span class="gameslast">W</span></p>
              <p class="last_games"><span class="gameslast">W</span></p>
              <p class="last_games"><span class="gameslast">W</span></p>
              <p class="last_games"><span class="gameslast">W</span></p>
            </div>
          </div>
        </div>
        
        <div class="final_result">
          <p class="first_odd">{{games.home_odd}}</p>
          <p class="draw_odd">{{games.draw_odd}}</p>
          <p class="second_odd">{{games.away_odd}}</p>
          <p class="team_win">{{games.to_win}}</p>
          <p class="goals">{{games.goals}}</p>  
        {% if games.result %}
          <p class="result"><img src="{% static 'img/check-mark-icon-green-0.png' %}" alt="" class="checking_mark"></p>
          {% elif games.result == False %}
          <p class="result"><img src="{% static 'img/bad.png' %}" alt="" class="checking_mark2"></p> 
          {% else %}
          <p class="result"><img src="{% static 'img/pend.png' %}" alt="" class="checking_mark2"></p>          
          {% endif %}          
        </div>
      </div>
      {% endfor %}
    </div>
    {% endfor %}
{% endif %}


<!-- 

{% for league in league %}
<div class="content">
  <ul>
    <li>  
      <a href="" class="club_name"><img src="{{league.l_country.img.url}}" alt="" class="img_flag"> {{league.l_country.country}} {{league.league}}</a>
      <ul>
        {% for games in games %}
        <li>
          <div class="team_last">
            <div class="team_opposite">
              <div class="opposite_team1">
                <div class="standingteam1">
                  <p class="team_time">{{games.time}}</p>
                </div>
                <div class="firstgameteampart">
                  <p class="last_games"><span class="gameslast">{{games.last_games}}</span></p>
                  <p class="last_games"><span class="gameslast">W</span></p>
                  <p class="last_games"><span class="gameslast">W</span></p>
                  <p class="last_games"><span class="gameslast">W</span></p>
                  <p class="last_games"><span class="gameslast">W</span></p>
                  <p class="team_select">{{games.home_team}}</p>
                </div>
              </div>
              <div class="opposite_team2">
                <div class="standing">
                  <p class="team_select">{{games.away_team}}</p>
                </div>
                <div class="secondgameteampart">
                  <p class="last_games"><span class="gameslast">W</span></p>
                  <p class="last_games"><span class="gameslast">W</span></p>
                  <p class="last_games"><span class="gameslast">W</span></p>
                  <p class="last_games"><span class="gameslast">W</span></p>
                  <p class="last_games"><span class="gameslast">W</span></p>
                </div>
              </div>
            </div>
            
            <div class="final_result">
              <p class="first_odd">{{games.home_odd}}</p>
              <p class="draw_odd">{{games.draw_odd}}</p>
              <p class="second_odd">{{games.away_odd}}</p>
              <p class="team_win">{{games.to_win}}</p>
              <p class="goals">{{games.goals}}</p>  
            {% if games.result %}
              <p class="result"><img src="{% static 'img/check-mark-icon-green-0.png' %}" alt="" class="checking_mark"></p>
              {% elif games.result == False %}
              <p class="result"><img src="{% static 'img/bad.png' %}" alt="" class="checking_mark2"></p> 
              {% else %}
              <p class="result"><img src="{% static 'img/pend.png' %}" alt="" class="checking_mark2"></p>          
              {% endif %}          
            </div>
          </div> 
        </li>
        {% endfor %}
      </ul>
    </li>
  </ul>
</div>
{% endfor %} -->


{% endblock content %}

